<?xml version="1.0" encoding="utf-8"?>

<ArrayOfServerSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"> 

<ReportServer>
    <ReportServerInstance>YETROGI-PC</ReportServerInstance>
    <ReportServerWindowsAutherntication>true</ReportServerWindowsAutherntication>
    <ReportServerUser>sa</ReportServerUser>
    <ReportServerPassword></ReportServerPassword>
</ReportServer>
  
<SourceServerSettings>
    <SourceServer>YETROGI-PC</SourceServer>
    <SourceWindowsAutherntication>true</SourceWindowsAutherntication>
    <SourceUser>sa</SourceUser>
    <SourcePassword></SourcePassword>
    <SourceDatabase>AdventureWorks2014</SourceDatabase>

    <UseExistingSourceFile>false</UseExistingSourceFile>
    <SourceFileFullPath>C:\SchemaCompare\YETROGI-LT\PARKING\AdventureWorks2014_20150128233944.dacpac</SourceFileFullPath>
    <Action>deployreport</Action>  
</SourceServerSettings>

<PackageOptions>
  <ExportData>true</ExportData>
  <TablesToExportData>dbo.PRK_Exceptions</TablesToExportData>
  <ExtractApplicationScopedObjectsOnly>true</ExtractApplicationScopedObjectsOnly>
  <ExtractReferencedServerScopedElements>false</ExtractReferencedServerScopedElements>
  <IgnoreExtendedProperties>true</IgnoreExtendedProperties>
  <IgnorePermissions>true</IgnorePermissions>
  <IgnoreUserLoginMappings>true</IgnoreUserLoginMappings>
  <VerifyExtraction>false</VerifyExtraction>
</PackageOptions>

<DeployOptions>
  <IgnoreLoginSids>true</IgnoreLoginSids>
  <IgnorePermissions>true</IgnorePermissions>
  <IgnoreRoleMembership>true</IgnoreRoleMembership>
  <DropObjectsNotInSource>false</DropObjectsNotInSource>
  <DropRoleMembersNotInSource>false</DropRoleMembersNotInSource>
  <UnmodifiableObjectWarnings>false</UnmodifiableObjectWarnings>
  <IncludeTransactionalScripts>true</IncludeTransactionalScripts>
  <IgnoreNotForReplication>false</IgnoreNotForReplication>
  <DoNotAlterReplicatedObjects>true</DoNotAlterReplicatedObjects>
  <CommandTimeout>10</CommandTimeout>
  <IgnoreKeywordCasing>false</IgnoreKeywordCasing>
  <VerifyDeployment>true</VerifyDeployment>
</DeployOptions>

<ServerSettings>
    <SQLServer>YETROGI-PC</SQLServer>
    <AuthenticationMode>true</AuthenticationMode>
    <SQLUser>sa</SQLUser>
    <SQLPassword></SQLPassword>
    <Databases>AdventureWorks2014;</Databases>
    <IsMultiThreading>0</IsMultiThreading>
    <ConsoleForeGroundColour>Cyan</ConsoleForeGroundColour>
</ServerSettings>

</ArrayOfServerSettings>