<?xml version="1.0" encoding="utf-8"?>

<ArrayOfServerSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"> 

<ReportServer>
    <ReportServerInstance>DESKTOP-TQFA2HI</ReportServerInstance>
    <ReportServerWindowsAutherntication>true</ReportServerWindowsAutherntication>
    <ReportServerUser>sa</ReportServerUser>
    <ReportServerPassword></ReportServerPassword>
</ReportServer>
  
<SourceServerSettings>
    <SourceServer>DESKTOP-TQFA2HI</SourceServer>
    <SourceWindowsAutherntication>true</SourceWindowsAutherntication>
    <SourceUser>sa</SourceUser>
    <SourcePassword></SourcePassword>
    <SourceDatabase>db1</SourceDatabase>

    <UseExistingSourceFile>false</UseExistingSourceFile>
    <SourceFileFullPath>
      C:\SchemaCompare\DESKTOP-TQFA2HI\db1\db1_20231213132026.dacpac
    </SourceFileFullPath>
    <Action>Deploy</Action>  
</SourceServerSettings>

  <ScriptFilesOptions>
    <PathToSaveScriptFiles>C:\SchemaCompare</PathToSaveScriptFiles>
    <ZipFiles>false</ZipFiles>
    <ZipPassword>pass</ZipPassword>
    <DaysToKeepScriptFiles>300</DaysToKeepScriptFiles>
</ScriptFilesOptions>

<PackageOptions>
  <ExportData>true</ExportData>
  <TablesToExportData>dbo.t;dbo.t2</TablesToExportData>
  <ExtractApplicationScopedObjectsOnly>true</ExtractApplicationScopedObjectsOnly>
  <ExtractReferencedServerScopedElements>false</ExtractReferencedServerScopedElements>
  <IgnoreExtendedProperties>true</IgnoreExtendedProperties>
  <IgnorePermissions>true</IgnorePermissions>
  <IgnoreUserLoginMappings>true</IgnoreUserLoginMappings>
  <VerifyExtraction>false</VerifyExtraction>
</PackageOptions>

<DeployOptions>
  <IgnoreLoginSids>true</IgnoreLoginSids>
  <IgnorePermissions>true</IgnorePermissions>
  <IgnoreRoleMembership>true</IgnoreRoleMembership> 
  <DropRoleMembersNotInSource>false</DropRoleMembersNotInSource>
  <UnmodifiableObjectWarnings>false</UnmodifiableObjectWarnings>
  <IncludeTransactionalScripts>true</IncludeTransactionalScripts>
  <IgnoreNotForReplication>true</IgnoreNotForReplication>
  <DoNotAlterReplicatedObjects>true</DoNotAlterReplicatedObjects>
  <CommandTimeout>10</CommandTimeout>
  <IgnoreKeywordCasing>false</IgnoreKeywordCasing>
  <VerifyDeployment>true</VerifyDeployment>
  <DropObjectsNotInSource>false</DropObjectsNotInSource>
  <DropIndexesNotInSource>false</DropIndexesNotInSource>
  <IgnoreIdentitySeed>true</IgnoreIdentitySeed>
  <IgnoreIncrement>true</IgnoreIncrement>

  <CommentOutSetVarDeclarations>true</CommentOutSetVarDeclarations>
  <IgnoreLockHintsOnIndexes>true</IgnoreLockHintsOnIndexes>
  <DatabaseLockTimeout>-1</DatabaseLockTimeout>
  <IgnoreIndexOptions>true</IgnoreIndexOptions>
  <BlockOnPossibleDataLoss>true</BlockOnPossibleDataLoss>
  
  <IgnoreTableOptions>true</IgnoreTableOptions>
  <IgnoreWithNocheckOnForeignKeys>true</IgnoreWithNocheckOnForeignKeys>
  <IgnoreWithNocheckOnCheckConstraints>true</IgnoreWithNocheckOnCheckConstraints>
  <IgnoreUserSettingsObjects>true</IgnoreUserSettingsObjects>
  <IgnoreWhitespace>false</IgnoreWhitespace>
 

  <ExcludeObjectTypes>Files;Filegroups;DatabaseTriggers;Logins</ExcludeObjectTypes>
</DeployOptions>

  <!--
      ExcludeObjectTypes:
        https://learn.microsoft.com/en-us/dotnet/api/microsoft.sqlserver.dac.objecttype?view=sql-dacfx-162
  -->
  
  <ServerSettings>
      <SQLServer>DESKTOP-TQFA2HI</SQLServer>
      <AuthenticationMode>true</AuthenticationMode>
      <SQLUser>sa</SQLUser>
      <SQLPassword></SQLPassword>
      <Databases>db222222;</Databases>
      <IsMultiThreading>0</IsMultiThreading>
      <ConsoleForeGroundColour>Cyan</ConsoleForeGroundColour>
  </ServerSettings>
  
  <!--
  <ServerSettings>
    <SQLServer>BARUCH-FP</SQLServer>
    <AuthenticationMode>true</AuthenticationMode>
    <SQLUser>sa</SQLUser>
    <SQLPassword></SQLPassword>
    <Databases>Parking;</Databases>
    <IsMultiThreading>0</IsMultiThreading>
    <ConsoleForeGroundColour>Cyan</ConsoleForeGroundColour>
  </ServerSettings>
  
  
  <ServerSettings>
    <SQLServer>DUBNOV_FP</SQLServer>
    <AuthenticationMode>true</AuthenticationMode>
    <SQLUser>sa</SQLUser>
    <SQLPassword></SQLPassword>
    <Databases>Parking;</Databases>
    <IsMultiThreading>0</IsMultiThreading>
    <ConsoleForeGroundColour>Cyan</ConsoleForeGroundColour>
  </ServerSettings>
  <ServerSettings>
    <SQLServer>MOSHAVA-FP</SQLServer>
    <AuthenticationMode>true</AuthenticationMode>
    <SQLUser>sa</SQLUser>
    <SQLPassword></SQLPassword>
    <Databases>Parking;</Databases>
    <IsMultiThreading>0</IsMultiThreading>
    <ConsoleForeGroundColour>Cyan</ConsoleForeGroundColour>
  </ServerSettings>
  -->
  

</ArrayOfServerSettings>